//variables
$bg-lime: #EDFBFF;
$bg-btn-pink: #FF52C1;
$tx-white: #ffffff;
$bg-white: #ffffff;
$main-font: 'Open Sans', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$tx-green-black: #00252E;
$tx-mid-grey: #808E9A;