@use '../utils';

.main {
    padding: 3rem 1.25rem 1.75rem;   
}
.primary {
    box-shadow: -1px 3px 6px 5px #979797;
    border-radius: 20px;
    padding: 2rem;
    margin: 0 auto 2rem;
    max-width: 460px;
}

.primary__sub {
    padding-top: 3rem;
    text-align: center;
}

.primary__summary {   
    color: utils.$tx-mid-grey;
}

.primary__title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}


@include utils.mQ(1080px) {
    .main {
        padding: 8rem 5rem 3rem;
    }

    .primary {
        max-width: 1280px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto 4rem;

        &:nth-child(odd) {
            flex-direction: row-reverse;
        }
    }

    .primary__img img {
        max-width: 460px;
    }

    .primary__sub {
        max-width: 490px;
        text-align: left;
    }
    .primary__title {
        font-size: 1.75rem;
        line-height: 40px;
    }
}