@use '../utils';
body {
    font-family: utils.$main-font;
    line-height: 1.5;
    font-size: 16px;
    color: utils.$tx-green-black;
}
h1, h2, h3, h4 {
    font-family: utils.$secondary-font;
    line-height: 36px;
}
h1 {
    font-size: 1.5rem;
}
p {
	line-height: 24px;
    font-size: 0.875rem;
}

@include utils.mQ(1080px) {
    h1 {
        font-size: 2.5rem;
        line-height: 60px;
    }
    p {
        font-size: 1.125rem;
        line-height: 27px;
    }
}